<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
  
  
  
  <title>Docu - Mail</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand fs-6" href="#">SENDEDW- <span class="fw-bold"></span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <!--  <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
        
        </ul>
      </div> -->
    </div>
  </nav>
      <div class="toast align-items-center text-dark bg-info border-0 mt-4 " role="alert" aria-live="assertive" aria-atomic="true"
        id="myToast">
        <div class="toast-body text-center" id="mensaje">
      
        </div>
      
      </div>

  <div class="container-lg mt-4 ">
    <div class="card shadow-sm p-3 mb-5 bg-body rounded">
      <div class="card-header text-center">
        Documentos Electronicos 
      </div>
      <div class="card-body">
              <table id="docu" class="table table-striped" style="width:100%">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col"class="text-sm">F. Emisión</th>
                    <th scope="col">Comprobante</th>
                    <th scope="col">Razón Social</th>
                    <th scope="col">Nro. Autorización</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <% documentos.forEach(function(documento,i) { %>
                  <tr >
                    <th scope="row"><%= i+1 %></th>
                    <td style="font-size: 0.8em;"><%= documento.fechaEmision %> </td>
                    <td style="font-size: 0.8em;"><%= documento.numeroDocuemnto %></td>
                    <td style="font-size: 0.8em;"><%= documento.razonSocialComprador %></td>
                    <td style="font-size: 0.8em;">
                      <%= documento.numeroAutorizacion %>
                    </td>
                    <td>
                      <button type="button" id="<%= documento.numeroAutorizacion %>" onclick="Mail('<%= documento.numeroAutorizacion %>','<%= puerto %>' );" class="btn btn-info btn-sm" style="width: 6rem;">
                        <span class="spinner-border spinner-border-sm visually-hidden" role="status" aria-hidden="true"></span>
                        <i class="fa-regular fa-envelope"></i>
                        Enviar
                      </button>
                      
                    </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
      </div>
    </div>


  </div>

  <script>
  
    

    function Mail(id,port) {
      const tost= document.getElementById('myToast')
      let mensaje = document.getElementById('mensaje')
      const myToast = new bootstrap.Toast(tost,{delay: 2000})
      const sp= document.getElementById(id)
      //console.log(sp.children[0])
      sp.children[0].classList.remove('visually-hidden')
      sp.children[1].classList.add('visually-hidden')
      
      console.log(id,port)
      fetch(`http://localhost:${port}/email/${id}`)
        .then(response => response.json())
        .then(
          //data => console.log(data)
           
          //data=> myToast.show()
           data=>{
            console.log(data)
            if (data==='ok') {
              sp.children[0].classList.add('visually-hidden'); 
              sp.children[1].classList.remove('visually-hidden'); 
              mensaje.innerHTML='Correo Enviado!!'  
              myToast.show()            
            } else{
              sp.children[0].classList.add('visually-hidden');
              sp.children[1].classList.remove('visually-hidden'); 
              mensaje.innerHTML='No se pudo enviar el correo'
              myToast.show()
           } 
           }

        )

          
    }

   

  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

  <script src="utils/datatable.js"> </script>
</body>

</html>